<div class="mainbody container-fluid" id="user-info">
  <div class="row">
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div align="center">
              <img class="thumbnail img-responsive"
                   [src]="user?.avatar || 'https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png'">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <span>
            <h1 class="panel-title pull-left" style="font-size:30px;">
              {{ user?.name }}
              <small>{{ user?.nickname }}</small> <i class="fa fa-check text-success" aria-hidden="true"
                                                                data-toggle="tooltip" data-placement="bottom"></i>
            </h1>
          </span>
        </div>
      </div>
      <hr>

      <!-- Simple post content -->

      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" (click)="setActiveProfileTab(ProfileTabs.PROFILE)">
              <a class="nav-link" [class.active]="ProfileTabs.PROFILE === activeProfileTab"> Profile </a>
            </li>
            <li class="nav-item" (click)="setActiveProfileTab(ProfileTabs.FRIENDS)">
              <a class="nav-link" [class.active]="ProfileTabs.FRIENDS === activeProfileTab"> Friends </a>
            </li>
            <li class="nav-item" (click)="setActiveProfileTab(ProfileTabs.TEAM)">
              <a class="nav-link" [class.active]="ProfileTabs.TEAM === activeProfileTab"> Team </a>
            </li>
            <li class="nav-item" (click)="setActiveProfileTab(ProfileTabs.ACHIEVEMENTS)">
              <a class="nav-link" [class.active]="ProfileTabs.ACHIEVEMENTS === activeProfileTab"> Achieves </a>
            </li>
            <li class="nav-item" (click)="setActiveProfileTab(ProfileTabs.SPONSORS)">
              <a class="nav-link" [class.active]="ProfileTabs.SPONSORS === activeProfileTab"> Sponsors </a>
            </li>
          </ul>
        </div>
        <div class="card-block">
          <div [ngSwitch]="activeProfileTab">
            <template [ngSwitchCase]="ProfileTabs.PROFILE">
              <div class="card mb-3" *ngFor="let userSingleNews of userNews">
                <div class="card-block">
                  <h4 class="card-title text-left">{{userSingleNews.title}}</h4>
                  <p class="card-text text-left" [innerHTML]="userSingleNews.content"></p>
                  <p class="card-text text-right"><small class="text-muted">
                    {{ getTime(userSingleNews.created_at) }} by
                    <img
                      class="card-img-top img-fluid"
                      [src]="user?.avatar || 'https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png'"
                      width="32px"
                      height="32px"
                    >
                    {{ user?.name }}
                  </small></p>
                </div>
              </div>
            </template>

            <template [ngSwitchCase]="ProfileTabs.FRIENDS">
              <form class="form-horizontal clearfix" (ngSubmit)="addFriend(f)" #f="ngForm">
                <div class="input-group">
                  <input type="text" class="form-control" name="nickOrEmail"
                         placeholder="{{ lS.userLocalization?.friend.nickOrEmail }}" ngModel required>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">{{ lS.userLocalization?.actions.find }}</button>
                  </span>
                </div>
              </form>
              <br/>
              <div class="row" *ngIf="userFriends.length > 0">
                <span class="col-md-2" *ngFor="let userFriend of userFriends">
                  <a
                     routerLink="/user/{{userFriend.friend?.id}}"
                     [title]="userFriend.friend?.name">
                    <img
                      class="img-fluid"
                      [src]="userFriend.friend?.avatar || 'https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png'"
                    >
                  </a>
                  <button class="btn btn-danger" (click)="removeFriend(userFriend.friend?.id)">{{ lS.userLocalization?.actions.delete }}</button>
                </span>
              </div>
            </template>

            <template [ngSwitchCase]="ProfileTabs.TEAM">
              <form class="form-horizontal clearfix" (ngSubmit)="createTeam(f)" #f="ngForm" *ngIf="!user?.team">
                <div class="input-group">
                  <input type="text" class="form-control" name="name"
                         placeholder="{{ lS.userLocalization?.team.name }}" ngModel required>
                  <!-- TODO: make service and parse from configs -->
                  <select class="form-control" name="game" size ngModel required>
                    <option value="1">Dota</option>
                    <option value="2">Csgo</option>
                  </select>
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">{{ lS.userLocalization?.actions.create }}</button>
                  </span>
                </div>
              </form>
              <div *ngIf="userTeam">
                <div class="card mb-3">
                  <div class="card-block">
                    <h4 class="card-title">{{userTeam.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{userTeam?.created_at | date: 'dd/MM/yyyy'}}</h6>
                  </div>
                </div>
                <form class="form-horizontal clearfix mb-3" (ngSubmit)="sendTeamInvite(f)" #f="ngForm">
                  <div class="input-group">
                    <input type="text" class="form-control" name="nickOrEmail"
                           placeholder="{{ lS.userLocalization?.friend.nickOrEmail }}" ngModel required>
                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">{{ lS.userLocalization?.actions.invite }}</button>
                  </span>
                  </div>
                </form>
                <div class="row" *ngIf="userTeam.users.length > 0">
                  <span class="col-md-2" *ngFor="let teamMate of userTeam.users">
                    <a routerLink="/user/{{teamMate.id}}"
                       [title]="teamMate.name">
                      <img
                        class="img-fluid"
                        [src]="teamMate?.avatar || 'https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png'"
                      >
                    </a>
                    <button class="btn btn-danger" (click)="removeTeamMate(teamMate?.id)">{{ lS.userLocalization?.actions.delete }}</button>
                  </span>
                </div>
              </div>

            </template>

            <template [ngSwitchCase]="ProfileTabs.ACHIEVEMENTS">
              <!-- Create components -->
              Достижения
            </template>

            <template [ngSwitchCase]="ProfileTabs.SPONSORS">
              <!-- Create components -->
              Спонсоры
            </template>
          </div>
        </div>
      </div>

      <!-- Create components -->

    </div>
  </div>
</div>

